<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Checkout\Block\Cart\Item\Renderer" type="Ecommage\OverrideTemplateWishlist\Block\Checkout\Cart\Item\Renderer" />
<!--use plugin to override template-->
    <!--    <type name="Magento\Catalog\Block\Category\View">-->
<!--        <plugin name="module_catalog_category_view_override_template" type="Ecommage\OverrideTemplateWishlist\Plugin\Catalog\Block\Category\View" />-->
<!--    </type>-->
</config>
