<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ecommage_Blog::blog" title="Blog" module="Ecommage_Blog" sortOrder="20" resource="Ecommage_Blog::blog"/>

        <add id="Ecommage_Blog::manage" title="Manage " module="Ecommage_Blog" sortOrder="10" action="blog/" resource="Ecommage_HelloWorld::manage" parent="Ecommage_Blog::blog"/>

    </menu>
</config>
